@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

.filesTable {
  overflow: auto;
  max-height: calc(~'100vh - 244px - 32px');
  min-height: calc(~'100vh - 244px - 32px');
}

.filesTableModal {
  overflow: auto;
  max-height: calc(~'50vh');
  min-height: calc(~'50vh');
}

.oneClickDownload {
  padding: 0 0 0 0;
}
