.card-container p {
    margin: 0;
}

.card-container > .ant-tabs-card .ant-tabs-content {
    height: 120px;
    margin-top: -16px;
}

.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
    padding: 16px;
    background: #fff;
}

.card-container > .ant-tabs-card > .ant-tabs-nav::before {
    display: none;
}

/*.card-container > .ant-tabs-card .ant-tabs-tab,*/
/*.card-container > .ant-tabs-card .ant-tabs-tab-active,*/



.card-container > .ant-tabs-card .ant-tabs-tab {
    background: transparent;
    border-color: transparent;
}

.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
    background: #141414;
}

.card-container > .ant-tabs-card .ant-tabs-tab-active {
    background: #141414;
    border-color: #141414;
}