@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

.routesTable {
  overflow: auto;
  max-height: calc(~'@{Downheight} - 32px - 36px');
  min-height: calc(~'@{Downheight} - 32px - 36px');
}
