@import '../../utils/utils.less';

.routesTable {
  overflow: auto;
  max-height: calc(~'@{Downheight} - 32px - 36px');
  min-height: calc(~'@{Downheight} - 32px - 36px');
}

.muitHostsTable {
  overflow: auto;
  max-height: calc(~'@{Downheight} - 32px - 36px');
  min-height: calc(~'@{Downheight} - 32px - 36px');
}

.proxyTable {
  overflow: auto;
  max-height: calc(~'@{Downheight} - 32px - 36px - 25vh');
  min-height: calc(~'@{Downheight} - 32px - 36px - 25vh');
}

.portfwdTable {
  overflow: auto;
  max-height: calc(~'25vh');
  min-height: calc(~'25vh');
}
