@import '../../utils/utils.less';

.noticelist {
  overflow: auto;
  max-height: calc(~'@{Downheight} - 30px');
  min-height: calc(~'@{Downheight} - 30px');
}

.moduleresultlist {
  overflow: auto;
  max-height: calc(~'@{Downheight} - 30px');
  min-height: calc(~'@{Downheight} - 30px');
}

.moduleresultoptions {
  color: @text-color-secondary;
}

.wordBreakClass {
  word-break: break-all;
}

.jobListTable {
  overflow: auto;
  max-height: calc(~'@{Downheight}');
  min-height: calc(~'@{Downheight}');
}

.uuidjsonCard {
  overflow: auto;
  min-height: ~'calc(100vh - 160px)';
  max-height: ~'calc(100vh - 160px)';
}
