@import '../../utils/utils.less';

.noticelist {
  padding: 0 0 0 0;
  overflow: auto;
  max-height: calc(~'50vh');
  min-height: calc(~'50vh');
}


.botWaitListTable {
  overflow: auto;
  max-height: calc(~'@{Downheight} - 32px');
  min-height: calc(~'@{Downheight} - 32px');
}

.botModuleCard {
  min-height: ~'calc(100vh - 40px)';
}

.moduleCardNew {
  overflow: auto;
  max-height: ~'calc(80vh - 88px)';
  min-height: ~'calc(80vh - 88px)';
}

.moduleConfigTable {
  padding: 0 0 0 0;
  margin-top: 8px;
  max-height: ~'calc(80vh - 128px)';
  min-height: ~'calc(80vh - 128px)';
}

.botmoduleTableNew {
  padding: 0 0 0 0;
  max-height: ~'calc(100vh - 120px)';
  min-height: ~'calc(100vh - 120px)';
}

.searchHostsTable {
  padding: 0 0 0 0;
  max-height: calc(~'100vh - 304px');
  min-height: calc(~'100vh - 304px');
}

.moduleTr {
  td {
    padding-top: 2px !important;
    padding-bottom: 4px !important;
    padding-left: 4px !important;
  }
}


.sessionOSTextOverflow {
  max-width: 360px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}

.sessionInfoTextOverflow {
  max-width: 360px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}

.postModuleAutoTable {
  overflow: auto;
  padding: 0 0 0 0;
  max-height: calc(~'@{Downheight} - 32px');
  min-height: calc(~'@{Downheight} - 32px');
}
